body {
  margin: 0;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 2px solid;
  background-color: rgb(45, 41, 60);
  color: white;
}

nav div {
  margin-top: 40px;
}
main {
  border: 2px solid;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

section {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 30%;
  height: auto;
  background-color: rgb(45, 41, 60);
  color: white;
}

fieldset {
  display: flex;
  flex-direction: column;
}
